<h1>Notes</h1>

<table class="table table-striped">
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.text.truncate(140) %></td>
        <td>
          <%= link_to('Show', note, class: 'btn btn-info') %>
          <%= link_to('Edit', edit_note_path(note), class: 'btn btn-default') if can?(:update, note) %>
          <%= link_to('Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if can?(:destroy, note) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Note', new_note_path, class: 'btn btn-primary btn-lg' %>
