<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Creator:</strong>
    <%= @note.user.id %>
    <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-xs' %>
    <% if can?(:manage, Sharing, note_id: @note.id) %>
      <%= link_to 'Share', new_note_sharing_path(note_id: @note.id), class: 'btn btn-xs' %>
    <% end %>
    <% if can?(:manage, @note) %>
      <%= link_to 'Add tag', new_tag_note_path(@note), class: 'btn btn-xs' %>
    <% end %>
  </div>
  <div class="panel-body">
    <%= @note.text %>
  </div>
  <div class="panel-footer">
    <% @note.tags.each do |tag| %>
      <%= link_to "##{tag.name}", tag, class: 'btn btn-default btn-xs' %>
    <% end %>
  </div>
</div>

<%= link_to 'Back to notes', notes_path, class: 'btn btn-default' %>


