<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user.id %>
</p>

<ul>
  <li><%= link_to 'Edit', edit_note_path(@note) %></li>
  <li><%= link_to 'Back', notes_path %></li>
  <% if can?(:manage, Sharing, note_id: @note.id) %>
    <li><%= link_to 'Sharing settings', note_sharings_path(note_id: @note.id) %></li>
  <% end %>
  <% if can?(:manage, @note) %>
    <li><%= link_to 'Add tag', new_tag_note_path(@note) %></li>
  <% end %>
</ul>
