<h1>Sharings for note #<%= params[:note_id] %></h1>

<table>
  <thead>
    <tr>
      <th>Shared by</th>
      <th>Shared to</th>
      <th>Permission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sharings.each do |sharing| %>
      <tr>
        <td><%= sharing.sender_id %></td>
        <td><%= sharing.recipient_id %></td>
        <td><%= sharing.permission %></td>
        <td><%= link_to 'Show', note_sharing_path(note_id: sharing.note_id, id: sharing.id) %></td>
        <td><%= link_to('Edit', edit_note_sharing_path(note_id: sharing.note_id, id: sharing.id)) %></td>
        <td><%= link_to('Destroy', note_sharing_path(note_id: sharing.note_id, id: sharing.id), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Share to another user', new_note_sharing_path(note_id: params[:note_id]) %>
